TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id
YOUR_QUEUE=GPV3.2
CHECK_INTERVAL_MINUTES=20
TIMEZONE=Europe/Kyiv
PLAYWRIGHT_BROWSER=chromium
PLAYWRIGHT_HEADLESS=1
# PLAYWRIGHT_USER_AGENT=
AUTO_HEADFUL_ON_BLOCK=1
MAX_BACKOFF_MINUTES=60
MIN_BLOCK_BACKOFF_MINUTES=60
PLAYWRIGHT_GOTO_TIMEOUT_MS=60000
HTTP_TIMEOUT_SECONDS=20
# DTEK_COOKIE=visid_incap_...; incap_ses_...=...
